{% extends 'main.html' %}
{% load staticfiles %} <!-- для работы со статичными файлами -->

{% block task %}
<div class="row">
	<div class="small-3 columns" style="border: 3px solid grey; padding: 40px; background:#BBBBBB; text-align:center;">Users, search etc.
		<hr>
		{% for profile in all_profiles %}	
		<img src="{{ profile.avatar.url }}">
		<h5><a href="">{{ profile.user }}</a></h5>  
		{{ profile.job_title }}
		<hr>
		{% endfor %}	
	</div>
	<div class="small-9 columns" style="border: 3px solid grey; padding: 40px; background:#F2F1F0">
		<table width="100%">
			<tr style="text-align:center;">
				<td style="background:#C9DAF8; width:20%;">Сортировать по:				
				</td>
				<td style="text-align:center; background:#F2F1F0; width:20%;"><a href="">Статусу ⇳</a>				
				</td>
				<td style="text-align:center; background:#F2F1F0; width:20%;"><a href="">Приоритету ⇳</a>				
				</td>
				<td style="text-align:center; background:#F2F1F0; width:20%;"><a href="">Дедлайну ⇳</a>				
				</td>	
				<td style="text-align:center; background:#F2F1F0; width:20%;"><a href="">Типу ⇳</a>				
				</td>			
			</tr>
		</table>		
		{% for task in tasks %}		
			<table style="border: 0px solid black; width:100%;">
			    <tr>
			        <td> 
						<div style="float:left;">Ответственный:</div>
						<div style="text-align:right;">{{ task.task_startdate }}</div>
						<div style="float:left;"><h4 style="color:green; float:left;"> {% for u in task.task_users.all %} {{ u }} {% endfor %} </h4></div>
						<div style="text-align:right;"><h6 style="color:#6B7581">{{ task.task_status }}</h6></div>
						</br>
						<div><h4><a href="/tasks/get/{{ task.id }}/">{{ task.task_name }}</a></h4></div>
					</td>
			    </tr>
			    <tr>
			        <td>			        	
				        <h6 style="text-align:right;"><a href="{% url 'task detail' task.id %}">(Подробнее...)</a></h6>
					</td>
			    </tr>
			</table>
			<hr>
		{% endfor %}
	
		<!-- Блок пагинации -->

		<div class="row">
			<div class="large-3 large-offset-5 columns"> 
				<ul class="pagination">
					{% if tasks.has_previous %} <!-- has_previous - булевое значение(True). Если есть предыдущая страница, то -->
						<li class="arrow"><a href="/page/{{ tasks.previous_page_number }}/">&laquo;</a></li> <!-- при нажатии на стрелочку переход на следущую страницу -->
					{% else %}
						<li class="arrow unavailable"><a href="">&laquo;</a></li> <!-- делает стрелочку неактивной -->
					{% endif %}

					<!--  нумерация страниц -->

					{% for page in tasks.paginator.page_range %} <!-- итерация по страницам -->
						{% if page == tasks.number %} <!-- если текущая страница равна номеру страницы(активна) -->
							<li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li> <!-- тогда цифре в пагинации присваиваем стиль current - текущая страницы -->
						{% else %}
							<li><a href="/page/{{ page }}/">{{ page }}</a></li>
						{% endif %}
					{% endfor %}

					<!-- нумерация страниц (конец) -->

					{% if tasks.has_next %}
						<li class="arrow"><a href="{% url 'pagination' tasks.next_page_number %}">&raquo;</a></li>
					{% else %}
						<li class="arrow unavailable"><a href="">&raquo;</a></li>
					{% endif %}
				</ul>
			
			</div>
		</div>

		<!-- Окончание блока пагинации -->	
		
	</div>	
</div>
<a href="" style="float:left; padding-bottom:-50px; color:#F2F1F0;">Вверх ▲</a>
{% endblock %}
